body{
    background-color: rgb(80, 77, 77);
}
header{
    height: 45vh;
    padding-bottom: 5vh;
}

.d-flex{
    display: flex; 
    justify-content: space-evenly;
}
.menuContainer{
    margin-right: 1vw;
}
main label{
    font-size: 1.3rem;
    color: white;
    margin-left: 2vw;
}
.selectMenu{
    width: 20vw;
    font-size: 1rem;
    padding: 1.3vh 0.5vw;
    color: black;
}
pre{
    border: 2px solid white;
    overflow: hidden;
    color: whitesmoke;
    margin: 2vh 2vw;
    font-size: 1.2em;
    width: 50%;
    border-radius: 12px;
    text-align: start;
    background-color: #0D0D0D;
}
.explanationSection{
    margin: 5vh 2vh;
    border-radius: 10px;
    background-color: #0D0D0D;
    color: aliceblue;
}
.explanationSection p{
    padding: 2vh 2vw;
    font-size: 1rem;
    text-align: left;
}
code{
    display: block;
    padding: 1vh 1vw;
    width: 95%;
    overflow-x: auto;
}
#code{
    height: 100%;
}
.prehead{
    padding: 2vh 2vw;
    border-radius: 12px 12px 0px 0px;
    background-color: #2F2F2F;
    color: #B4966F;
}
.prehead #copybtn{
    padding: 0.5vh 1.2vw;
    border-radius: 15px;
    background-color: #b4966f5d;
    border: 1px solid #B4966F;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
.prehead #copybtn:hover{
    box-shadow: 0px 0px 15px 0px wheat inset;
    transform: translate(2px);
}
.a-center{
    align-items: center;
}
#input{
    padding: 5vh 2vw;
}
#output{
    padding: 5vh 2vw;
    height: 100%;
}
.hamburger:nth-child(odd){
    position: fixed;
    bottom: 0;
    right: 0;
}
.hamburger:nth-child(odd) svg{
    background-color: #0d0d0da6;
    border-radius: 50px;
    padding: 1vh 1vw;
}
@media (max-width: 768px){
    main section label{
        font-size: 1rem;
    }
    .selectMenu{
        width: 25vw;
        font-size: 0.8rem;
    }
    .menuContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fdircol{
        flex-direction: column;
    }
    .fdircol pre{
        width: 92%;
    }
    pre{
        font-size: 1em;
    }
    main{
        width: 100vw;
        margin: 0;
    }
    #phpsidemenu{
        display: none;
        z-index: 1000;
    }
    main{
        z-index: -1;
    }
}